@font-face {
    font-family: sans;
    src: url(./font/BYekan+.ttf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans;
}
.titr{
    font-size: 18px;
    margin-bottom: 10px;
}
.sabt{
    padding: 10px 20px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: #7fd858;
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px solid #7fd858;
    border-right: 2px solid #7fd858;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right,
      box-shadow;  
  }
.sabt:hover {
    border-top: 2px solid #7fd858;
    border-left: 2px solid #7fd858;
    border-bottom: 2px solid rgb(97, 223, 225);
    border-right: 2px solid rgb(97, 223, 225);
    box-shadow: rgba(108, 238, 212, 0.4) 5px 5px, rgba(106, 203, 73, 0.3) 10px 10px,
    rgba(121, 234, 127, 0.4) 15px 15px;
  }
  
.sabt:focus {
    outline: none;
}
.form-total{
    border:1px solid #646962;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 100px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
.form-titr{
    border:1px solid #646962;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 25px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
.form-titr:focus{
    outline-color: rgb(120, 233, 103);
}
.form-total:focus{
    outline-color: rgb(120, 233, 103);
}