@font-face {
    font-family: sans;
    src: url(./font/BYekan+.ttf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans;
}
.wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #505050;
    overflow: hidden;
}
.logo{
    position: absolute;
    left: 42%;
    height: 30%;
    top: 0%;
}
#menu{
    opacity: 0;
}
.form-login{
    position: absolute;
    top: 27%;
    left: 37%;
    background-color: #505050;
}
.form-label{
    color: #7def4c;
}
.box-form{
    border: none;
    width: 400px;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin-bottom: 8px;
}
.box-form:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}
.log-in {
    background-color: #7def4c;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  
.log-in:hover {
    background: #7fd858;
    box-shadow: 0px 4px 35px -5px #7fd858;
    cursor: pointer;
  }
  
.log-in:focus {
    outline: none;
}
.remember{
    font-size: 14px;
    margin-right: 280px;
}
p.wrong {
    display: none;
}

p.wrong.shake {
    display: block;
}

p.wrong.shake {
    animation: shake .4s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

.controls img {
    height: 20px;
}
.captcha-chat{
    padding-right: 20%;
    padding-top: 35px;
    padding-bottom: 25px;
}
.sign-up{
    padding-top: 20px;
    padding-right: 32%;
}
.sign-up>a{
    color: #7def4c;
}
.user-text{
    width: 150px;
    margin-left: 13px;
}