{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='edit-profile.css') }}">
{% endblock %}

{% block content %}

    <h3>{{ current_user.username|upper }}</h3>
    
    {% include 'includes/form_errors.html' %}

    <form action="" method="post">

        {{ form.csrf_token }} 
        {{ form.username.label(class='label-prof') }} {{ form.username(class='input-style') }}
        {{ form.submit_user(class='sub-prof') }}
        <hr class="hr2">
        {{ form.email.label(class='label-prof') }} {{ form.email(class='input-style') }}
        {{ form.submit_email(class='sub-prof') }}
        <hr class="hr2">
        {{ form.password.label(class='label-prof') }} {{ form.password(class='input-style') }}
        {{ form.confirm_password.label(class='label-prof') }} {{ form.confirm_password(class='input-style') }}
        {{ form.submit_pass(class='sub-prof') }}

    </form>

{% endblock %}