{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}



{% block content %}

    <div class="search-box">
        <form method="POST" action="{{ url_for('search_post') }}">
        {{ form.hidden_tag() }}
        <div class="InputContainer">
        {{ form.title(class='box-search',placeholder='جستجو بر اساس عنوان') }}
        </div>
        {{ form.submit(class='search') }}
        </form>
    </div>    
        
    
    <ul>
        {% for post in search_posts %}
            <li>
                <div class="content">
                    <div class="post">
                            <p class="title">
                                <a href="{{ url_for('post_detail', post_id=post.id) }}">
                                    {{ post.title }}
                                </a>
                            </p>
                        <div class="content">
                            <p>{{ post.content }}</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </ul><br><br><hr class="hr">

    <h3>پست‌ها</h3>
    <div class="content">
        {% for post in posts %}
            <div class="post">
                <p class="title">
                    <a href="{{ url_for('post_detail', post_id=post.id) }}">
                        عنوان: {{ post.title }}
                    </a>
                </p>
                <div class="content">
                    <p>{{ post.content }}</p><br>
                </div>
                <hr class="hr2">
            </div>
        {% endfor %}
    </div>

{% endblock %}