{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}

    <h3>ALL POSTS</h3>
    <div class="content">
        {% for post in posts %}
            <div class="post">
                    <p class="title">
                        <a href="{{ url_for('post_detail', post_id=post.id, user_id=current_user.id) }}">
                            {{ post.title }}
                        </a>
                    </p>
                <div class="content">
                    <p>{{ post.content }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}