{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <div class="content">
        <div class="post">
            <p><b>Posted by {{ post.author.username|upper }}</b></p>
            <b>
                <p class="title">{{ post.title }} - {{ post.date.strftime('%Y-%m-%d') }}</p>
            </b>
            <div class="content">
                <p>{{ post.content }} - Likes: {{ post.likes|length }}</p>
                {% if existing_like %}
                    <form method="POST" action="{{ url_for('unlike', post_id=post.id) }}">
                        {{ dislike_form.csrf_token }}
                        {{ dislike_form.submit }}
                    </form>
                {% else %}
                    <form method="POST" action="{{ url_for('like', post_id=post.id) }}">
                        {{ like_form.csrf_token }}
                        {{ like_form.submit }}
                    </form>
                {% endif %}
                
            </div>

            {% if post.author == current_user %}
                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-info">Edit Post</a><br><br>
                <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">Delete Post</a>
            {% endif %}
            <hr>
            
            <h3>Comments</h3>
            <form action="" method="post">

                {{ comment_form.csrf_token }}
                {{ comment_form.hidden_tag() }}
                {{ comment_form.content(class='form-control') }}<br>
                {{ comment_form.submit }}
            </form>
        
            {% for comment in post.comments %}
                <div class="comment">
                    <p>Comment by {{ comment.owner.username|upper }} - {{ comment.date.strftime('%Y-%m-%d') }}</p>
                    <p>{{ comment.content }}</p>
                    {% if comment.owner == current_user %}
                                <a href="{{ url_for('delete_comment', comment_id=comment.id) }}" class="btn btn-danger">Delete comment</a>
                            {% endif %}
                    
                    {% if comment.replies %}
                        <h4>Replies</h4>
                    {% endif %}
                    
                    <form action="{{ url_for('reply', comment_id=comment.id) }}" method="post">
                        {{ reply_form.csrf_token }}
                        {{ reply_form.text(class='form-control') }}<br>
                        {{ reply_form.submit }}
                    </form>

                    {% for reply in comment.rep %}
                        <div class="comment">
                            <p> Replied by {{ reply.response.username }} - {{ reply.date.strftime('%Y-%m-%d') }}</p>
                            <p>{{ reply.text }}</p>
                            {% if reply.response == current_user %}
                                <a href="{{ url_for('delete_reply', reply_id=reply.id) }}" class="btn btn-danger">Delete Reply</a>
                            {% endif %}
                            <hr>
                        </div>
                        
                    {% endfor %}
                    
                </div>
            {% endfor %}<hr>

            
            
        </div>
    </div>


    
{% endblock %}