{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}

    <h3>{{ current_user.username|upper }}</h3>

    <a href="{{ url_for('new_post') }}" class="btn btn-info">Create New Posts</a><br><br>

    <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edit Profile</a><br><br>
    
    <h3>MY POSTS</h3>
    <div class="content">
        {% for post in user.posts %}
            <div class="post">
                    <p class="title">
                        <a href="{{ url_for('post_detail', post_id=post.id) }}">
                            {{ post.title }}
                        </a>
                    </p>
                <div class="content">
                    <p>{{ post.content }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}

