{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include 'includes/form_errors.html' %}
    <form action="" method="post" class="">

        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        {{ form.confirm_password.label }} {{ form.confirm_password }}
        <input type="submit" value="Register" class="btn btn-info">

    </form>

{% endblock %}