{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div >{% include 'includes/form_errors.html' %}</div>

    <div class="left">
        
        <div class="sign-up">
            <h1 class="head">ثبت نام</h1>
        </div>
        <form action="" method="post" novalidate>

            {{ form.csrf_token }}

            {{ form.username.label(class='form-label') }} {{ form.username(class='box-form') }}
    
            {{ form.email.label(class='form-label') }} {{ form.email(class='box-form') }}
    
            {{ form.password.label(class='form-label') }}  {{ form.password(class='box-form') }}
    
            {{ form.confirm_password.label(class='form-label') }}  {{ form.confirm_password(class='box-form') }}
            
            {{ form.submit(class='sign-in') }}
    
        </form>
    </div>
    <div class="right">
        <div class="img">
            <img class="image" src="../static/images/Adult talking cell phone-cuate.png" alt="">
        </div>
        <div class="log-in">
            <a class="log" href="{{ url_for('login') }}">از قبل حساب کاربری دارید ؟</a>
        </div>
    </div>
</div>    

{% endblock %}