<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu">
    <ul class="navbar-nav">
        <li>
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_authenticated %}
        </li>
        <li>
            <a class="nav-link active" aria-current="page" href="{{ url_for('profile', user_id=current_user.id) }}">Profile</a>
        </li>
        <li>    
            <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        </li>
        <li>
            <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
        {% endif %}
        </li>    
    </ul>
</nav>